<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smash_Forge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Smash_Forge.Properties.Settings>
      <setting name="SafeCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearWrkCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DltMesh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearAnim" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearMove" serializeAs="String">
        <value>False</value>
      </setting>
    </Smash_Forge.Properties.Settings>
  </userSettings>
</configuration>